.produtos {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
 /* grid-gap: 20px; */
 align-items: center;
 width: 300px;
 height: 27rem;
 margin-top: 50px;
 /* gap: 10px; */
 /* margin-right: 30px; */
}
