.containerPrincipalPagina {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 width: 100vw;
}

.containerPrincipalProdutos {
 display: grid;
 grid-template-columns: 0.3fr 1fr;
 font-family: "Gabriela", serif;
 font-style: normal;
 width: 100vw;
 height: 100%;
}

.containerProdutos {
 display: grid;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
 grid-template-columns: 1fr 1fr 1fr;
 font-family: "Gabriela", serif;
 font-style: normal;
 width: 100%;
}

.logoPrincipal {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100%;
 width: 100%;
 padding: 50px;
}

.logoPrincipal img {
 display: flex;
 justify-content: center;
 align-items: center;
}

.bannerLoja {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 margin-bottom: 30px;
}

.bannerLoja .textoBannerLoja {
 display: flex;
 justify-content: center;
 width: 60%;
 height: 80%;
 background-color: #d9d9d9;
 border-radius: 12px;
}
